html,body{
	height: 100%;
	width: 100%;
}
#jumbo {
	overflow: hidden;
	height: 350%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url('../images/jumbotron.jpg');
	background-attachment: fixed;
	background-size: cover;
	border-bottom: 2px solid black;
}
.banner-cover-white {
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
}
.arrow-down{
	font-size:40px;
	color: white;
	top: calc(100% - 40px);
	opacity: 0.8;
}
@font-face {
	font-family: milford;
	src: url('../fonts/milf.ttf') format('truetype');
}
#name-center{
	position: fixed;
	width: 100%;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	text-align: center
}
#name-holder {
	margin: auto;
	height: 200px;
	min-width: 450px;
	width: 60%;
	max-width: 600px;
	position: relative;
}
#name {
	padding-top:35px;
	height: 100%;
	z-index: 9;
	background-color: rgba(100,100,100,0.8);
	opacity: 0;
	color: white;
}
#kevin{
	font-size: 40pt;
	font-family: milford;
	border-bottom: 2px solid white;
}
#others{
	font-size: 14pt;
	font-style: italic;
}

.border-vert{
	border-top: 5px solid white;
	height:0;
	position: absolute;
}
#b-t{
	top: 0;
	left: 0;
}
#b-b{
	bottom:0;
	right:0;
}
.border-hor{
	border-right: 5px solid white;
	width:0;
	position: absolute;
}
#b-r{
	top: 0;
	left: 0;
}
#b-l{
	bottom:0;
	right:0;
}
.under {
	z-index: 0;
	height: 200%;
	width: 100%;
	overflow: hidden;
}

.about {
	position:relative;
	margin: auto;
	margin-top: 100px;
	max-width: 750px;
	width: 100%;
}
.profileImage  {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-image: url('../images/profile.jpg');
	background-size: 130% 100%;
}
.abouttext {
	position: absolute;
	max-width: 600px;
	min-width: 450px;
	height: 200px;
	top: -10px;
	left: 150px;
	padding-left: 20px;
	width: calc(100% - 160px);
}
.abouttext .aboutdesc {
	font-size: 13pt;
}
.abouttext .about {
	font-size: 22pt;
}

.logo-bg{
	position: relative;
	max-width: 1000px;
	width: 100%;
	top: 10px;
	margin: auto;
}
.logo{
	background-image: url('../images/logo.png');
	background-size: 260px 200px;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}
.toptext-left{
	text-align: right;
	top: 115px;
}
.toptext-right{
	text-align: left;
	top: 115px;
}
.link{
	color: black !important;
	text-decoration: none !important;
	font-size: 18pt;
}
.link:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.fa{
	font-size: 22pt;
}
.profile{
	width: auto;
	height: auto;
	margin: auto;
	margin-top: 80px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.circle{
	position: relative;
	display: inline-block;
	border-radius: 50%;
	background-size: 150px 150px;
	height: 150px;
	width: 150px;
	overflow: hidden;
	opacity: 0.4;
}
.uw{
	background-image: url('../images/waterloo.gif');
}
.autodesk{
	background-image: url('../images/autodesk.png');
}
.ims{
	background-image: url('../images/ims.png');
}
.rbc{
	background-image: url('../images/rbc.png');
}
.fleetbit{
	background-image: url('../images/fleetbit.png');
}
#uwinfo, #autodeskinfo, #imsinfo, #rbcinfo, #fleetbitinfo{
	display: none;
	position: absolute;
}
.info{
	width: 750px;
	margin: auto;
	margin-top: 20px;
	display: block;
	height: 400px;
}
.info div{
	width: 750px;
}
.title{
	line-height: 60px;
	border-bottom: 1px solid black;
	font-weight: bold;
	font-size: 24pt;
}
.subtitle{
	font-size: 18pt;
}
.time{
	font-size: 14pt;
	line-height: 40px;
}
.jobdesc{
	font-size: 13pt;
}
.bg-picture{
	background-image: url('../images/jumbotron.jpg');
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 200%;
	position: absolute;
}
.bg-picture .side-block{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
}
.bg-picture .center-block{
	max-width: 1000px;
	width: 100%;
	margin: auto;
	position: relative;
	background-color: rgba(255,255,255,1);
	height: 100%;
}
.small {
	position: relative;
	top: 0;
	display: inline-block;
}
.left{
	width: 58% !important;
}
.right{
	top: -50px;
	width: 40% !important;
}