body {
	height: 100%;
	width: 100%;
	position: absolute;
}

@font-face {
	font-family: 'accidental_presidency';
	src: url('../fonts/AccidentalPresidency.ttf');
	font-weight: normal;
	font-style: normal;
}

.header {
	position: fixed;
	opacity: 0;
	background-color: rgba(0,0,0,0.75);
	width: 100%;
	height: 40px;
	z-index: 998;
	text-align: center;
	color: white;
}
	@media (max-width: 480px) {
		.header {
			opacity: 1 !important;
		}
	}
	.header div {
		font-family: 'accidental_presidency';
		font-size: 16pt;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}

#loading {
	transition: opacity 1s;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 999;
	overflow: hidden;
}

.loading_text {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 25pt;
}

.main {
	width: 100%;
	height: 100%;
}

#parallax_cover {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
}

.parallax {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('../assets/parallax.png');
	background-position: center;
}

	.title_card {
		font-family: 'accidental_presidency';
		position: relative;
		top: 50%;
		width: 350px;
		text-align: center;
		transform: translateY(-50%);
		color: white;
		margin: auto;
		line-height: 50px;
	}
	.title {
		font-size: 30pt;
	}
	.name {
		font-size: 70pt;
	}

.profile {
	width: 100%;
	height: 300px;
	min-width: 300px;
	position: relative;
	border-top: 12px solid rgb(10,10,10);
}
	#profile_cover {
		position: absolute;
		background-color: black;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
	}
	.main {
		position: absolute;
		background-image: url(../assets/profile.png);
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-image: url(../assets/profile_repeat.png);
	}

.content {
	padding-top: 25px;
	width: 100%;
}

	.about_content {
		width: 90%;
		max-width: 600px;
		margin: auto;
		margin-top: 25px;
		text-align: center;
	}
		
		.about_name {
			font-size: 24pt;
		}
		.about_sub_name {
			font-size: 14pt;
		}
		.about_sub_name:hover {
			cursor: pointer;
			text-decoration: underline;
		}
		.about_sub_sub {
			font-weight: bold;
			font-size: 12pt;
		}
		.about_work {
			font-size: 12pt;
		}
		.about_desc {
			font-size: 12pt;
		}

	.text {
		width: 100%;
		margin: auto;
		text-align: center;
		padding-top: 50px;
		font-size: 14pt;
	}
		.text a {
			color: black !important;
			text-decoration: none;
		}
		.text a:hover {
			text-decoration: underline;
		}

	.work {
		margin-top: 10px;
		height: 28px;
		overflow-y: hidden;
	}

	.circle_icon {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
		.waterloo {
			background-image: url('../assets/waterloo.png');
		}
		.autodesk {
			background-image: url('../assets/autodesk.png');
		}
		.ims {
			background-image: url('../assets/ims.png');
		}
		.rbc {
			background-image: url('../assets/rbc.png');
		}
		.fleetbit {
			background-image: url('../assets/fleetbit.png');
		}

	.extra_padding {
		margin-top: 30px;
	}

	.footer {
		margin-top: 100px;
		height: 50px;
	}